*.log
.tags*
.*
!.gitignore
!.travis.yml
!.flake8

/*.egg-info
.eggs/
*.egg*
dist/
*.pyc
build/
.env/
env/

__pycache__/
/*.iml

# Config file with the paths
config.ini

# Cache files
*cache.json

coverage.xml
